@model USP.Models.POCO.Login

@{
    ViewBag.Title = "登录";
}
@section themes{
    <link href="~/Static/Css/usp/usp.login.css" rel="stylesheet" />
}

<div class="container">
    <div class="row">
        <div class="col-sm-6 col-md-4 col-md-offset-8">
            <div class="account-wall">
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()
                    <div class="form-signin">
                        <h2 class="text-center" style="margin-bottom: 30px"> 供应商对账平台 </h2>
                        <div class="form-group">
                            <div class="input-group"  style="margin-top: -2px;margin-bottom: 10px">
                                <span class="input-group-addon glyphicon glyphicon-user"></span>
                                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control", @Value = "" } })
                               
                            </div>
                            <div class="input-group" style="margin-top: -2px;margin-bottom: 10px">
                                <span class="input-group-addon glyphicon glyphicon-lock"></span>
                                @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control", @Value = "", @Type = "password" } })
                               
                            </div>
                            <div class="row" style="margin-bottom: 10px">
                                <div class="col-md-6">
                                    <div class="input-group" style="margin-bottom: 10px;">
                                        <span class="input-group-addon  glyphicon glyphicon-ok"></span>
                                        @Html.EditorFor(model => model.Captcha, new {htmlAttributes = new {@class = "form-control"}})
                                    </div>
                                    </div>
                                <div class="col-md-6">
                                    <img style="top: 0px;height: 45px" src="/Captcha/Index" />
                                </div>
                            </div>
                            <div>
                                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                                @Html.ValidationMessageFor(model => model.Password, "", new {@class = "text-danger"})
                                @Html.ValidationMessageFor(model => model.Captcha, "", new { @class = "text-danger" })
                                <input type="submit" value="登 录" style="margin-bottom: 20px" class="btn btn-lg btn-primary btn-block"/>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/Js/Usp")
    <script>
        $(function () {
            usp.init();
            if (window.top != window) {
                window.top.document.location.href = window.location.href;
            }
        });
    </script>
}
